@charset "EUC-KR";
.board-div{
	width: 80%;
	margin: 30px auto;
	
}
.board-tb{
	width: 90%;
	min-width: 650px;
	margin: auto;
	text-align: center;
}
.board-tb td{
	height: 50px;
}
.page-a{
	display: inline-block;
	border: 1px solid lightgrey;
	padding: 4px 12px;
	margin: 1px;
	border-radius: 5px;
}
#page{
	 width: 100%; 
	 margin: auto; 
	 text-align: center; 
	 margin-top: 50px;
	 display: flex;
	 justify-content: center;
}
#listopt-div{
	 width: 100%; 
	 margin: auto; 
	 text-align: center; 
	 margin-top: 50px;
	 padding: 0px 50px;
	 display: flex;
	 justify-content: space-between;
}
#listopt-div button{
	width: 100px;
}
#search-div {
	width: 600px;
	display: flex;
	justify-content: space-between;
}
#search-div select{
	height: 43px;
	width: 60px;
	text-align: center;
}
#search-div input{
	width: 330px;
	height: 45px;
}
#category-tb {
	width: 65%;
	height: 40px;
	margin: auto;
}
#category-tb td{
	padding: 1px;
}
#category-tb button{
	width: 100%;
	height: 100%;
	border: 1px solid #3474d4;
	color: #777777;
}